.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;

  &__card {
    max-width: 360px;
    min-width: 220px;
    // width: 22%;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  &__link {
    display: block;
  }

  &__img {
    position: relative;
    object-fit: cover;
    // height: 80%;
    height: 200px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    text-align: center;

    &-item {
      display: flex;
      flex-direction: column;
      color: black;
    }
  }

  &__btn {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: rgb(44, 90, 176);
    color: white;
    border-radius: 5px;
    border-width: 0px;
    font-size: 16px;
  }
}
